/* Auth */
.auth {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .info {
    font-weight: bold;
    font-size: 18px;
    color: #222222;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  
  .confirm {
    margin-top: 22px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #F01F0E;
  }
  
  .button-group {
    display: flex;
    justify-content: center;
  }
  
  .button {
    padding: 15px 30px;
    width: 123px;
    height: 48px;
    font-size: 14px;
    text-decoration: none;
  }
  
  .button-full {
    text-decoration: none;
    background: #DB3022;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);
    border-radius: 4px 0px 0px 4px;
    color: white;
  }
  
  .button-shadow {
    text-decoration: none;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 0px 4px 4px 0px;
    color: gray;
  }
  
  .form-section {
    width: 400px;
    margin-top: 40px;
  }
  .form-main {
    display: flex;
    margin-top: 16px;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="name"] {
    font-size: 14px;
    padding: 7px 0px 7px 15px;
    width: 100%;
    height: 48px;
    border: 1px solid #9B9B9B;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
  }
  
  .forgot {
    display: inline-block;
    margin-top: 26px;
    text-align: right;
    width: 100%;
    font-size: 14px;
    color:#db3022;
  }
  
  .submit {
    margin-top: 26px;
    display: inline-block;
    padding: 15px 30px;
    width: 100%;
    font-size: 14px;
    color: #FFFFFF;
    background: #DB3022;
    border-radius: 25px;
    text-decoration: none;
  }
  
  .register {
    margin-top: 40px;
    font-size: 14px;
    color: #222222;
  }

  .Link {
    color:#FFFFFF;
    text-decoration: none;
  }

  .ErrorMsg {
    color: rgb(248, 31, 31);
    font-size: 16;
    text-align: center;
  }
  
  @media only screen and (max-width: 420px) {
    .form-section {
    width: 100%;
    }
  }