@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #FFFFFF;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

/* Global CSS */
.text {
  font-weight: bold;
  font-size: 34px;
  color: #222222;
}

.text-muted {
  font-weight: normal;
  font-size: 12px;
  color: #9B9B9B;
}

/* Navigation Bar */
.navbar {
  background: #FFFFFF;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
}

.navbar-brand {
  margin-right: 50px;
}

.input-group {
  width: 450px;
}

.search-form {
  border: 1px solid #8E8E93;
  border-radius: 23px;
}

.search-btn {
  border: 1px solid #8E8E93;
  border-radius: 0px 23px 23px 0px;
}

.filter-btn {
  background: #FFFFFF;
  border: 1px solid #8E8E93;
  border-radius: 12px;
  margin-left: 10px;
}

.cart {
  margin-left: 100px;
  margin-right: 20px;
}

.btn-full {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  background: #DB3022;
  border-radius: 25px;
  width: 100px;
}

.btn-shadow {
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 24px;
  color: gray;
  width: 100px;
}

/* Carousel */
.img-carousel {
  height: 180px;
}

.carousel h1 {
  position: absolute;
  font-weight: bold;
  font-size: 38px;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
  top: 40%;
  left: 20%;
}

/* Card */
.card {
  margin-top: 25px;
  width: 210px;
  height: 280px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.card-body p {
  font-size: 12px;
  margin-bottom: 0px;
}

.price {
  font-weight: bold;
  font-size: 16px;
  color: #DB3022;
}

/* Media Query */
@media (max-width: 1125px) {
  .navbar-brand {
    margin-right: 30px;
  }
  .input-group {
  width: 350px;
  }
  .cart {
  margin-left: 30px;
  }
}

@media (max-width: 990px) {
  .navbar-brand {
    margin-right: 20px;
  }
  .input-group {
  width: 200px;
  }
  .cart {
  margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-right: 0px;
  }
  .input-group {
  width: 400px;
  }
  .cart {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    margin-right: 0px;
  }
  .input-group {
  width: 300px;
  }
  .cart {
    margin-left: 0px;
  }
}